<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1v.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_1v.Properties.Settings>
            <setting name="installationDir" serializeAs="String">
                <value>C:\CI_Tools\1v\</value>
            </setting>
            <setting name="productsVersionRootDir" serializeAs="String">
                <value>D:\_git\gh-pu\1v\CI_Tools\CI_Config\ProductVersionNumbering\</value>
            </setting>
            <setting name="productsVersionConfig" serializeAs="String">
                <value>ProductVersionNumberingConfig.xml</value>
            </setting>
            <setting name="regexPatternsRootDir" serializeAs="String">
                <value>Config\</value>
            </setting>
            <setting name="regexPatternsFile" serializeAs="String">
                <value>1vRegexPatterns.xml</value>
            </setting>
        </_1v.Properties.Settings>
    </userSettings>
</configuration>